/* Общие стили */

html,
body {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Общие стили заголовков h3 (по классам) */

.subtitle,
.hashtag,
.static-text,
.search-result-number {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

/* Общий фон контейнера контента */

.content-box {
	background-color: #ffffff;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* Хэдер */
/* Меню */

.site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	font-weight: bold;
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.current {
	font-weight: bold;
	color: #766357;
}

/* Главная страница. Седона. */
/* Блок "Welcome" */

.title {
	background-color: #9aabb6;
	background: 
		url("../img/shape.png") bottom center no-repeat,
		url("../img/background-photo.jpg") top center no-repeat;
}

/* Преимущества */

.advantage, 
.advantage h3 {
	color: #ffffff;
}

.advantage-box-a,
.advantage-box-b {
	display: flex;
	height: 256px;
}

.advantage {
	width: 34%;
	background-color: #81b3d2;
}

.advantage-picture {
	width: 66%;
}

.advantage-box-a .advantage-picture {
	background: url("../img/right-picture.jpg") top right no-repeat;
}

.advantage-box-b .advantage-picture {
	background: url("../img/left-picture.jpg") top left no-repeat;
}

.needs,
.advantage-box-c {
	list-style: none;
	margin: 0;
	padding: 0;
}

.accommodation::before {
	content: url("../img/icon-1.svg");
}

.food::before {
	content: url("../img/icon-2.svg");
}

.souvenirs::before {
	content: url("../img/icon-3.svg");
}

.advantage-box-c {
	background-color: #eeeeee;
}

/* Поиск гостиницы */

.search-form-field {
	font-weight: bold;
}

.search-form-intro span {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}

.open-form-button {
	background-color: #766357;
	color: #ffffff;
}

.open-form-button:hover {
	background-color: #604e43;
}

.open-form-button:active {
	background-color: #604e43;
	color: rgba(255, 255, 255, 0.3);
}

.search-form input[type="submit"],
input[name="date-in"],
input[name="date-out"],
input[name="adult"],
input[name="child"] {
	font-family: "PT Sans", "Tahoma", sans-serif;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

input[name="date-in"],
input[name="date-out"],
input[name="adult"],
input[name="child"] {
	font-size: 14px;
	color: #000000;
}

.search-form input[type="submit"] {
	font-size: 21px;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}

.search-form input[type="submit"]:hover {
	background-color: #669ec0;
}

.search-form input[type="submit"]:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

::-webkit-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

::-moz-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

:-moz-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

:-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

/* Внутренняя страница. Гостиницы. 
/* Фильтры поиска. */

.filters {
	background: url("../img/filter-background.jpg") top center no-repeat;
	color: #ffffff;
}

.criteria-group {
	font-size: 16px;
	font-weight: bold;
}

.end-of-range {
	width: 220px;
	height: 32px;
	border: solid 2px #ffffff;
	border-radius: 2px;
}

input[name="price-min"],
input[name="price-max"] {
	width: 107px;
	border: none;
	background-color: transparent;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
}

.filters input[type="submit"] {
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	background-color: transparent;
	border: solid 2px #ffffff;
	border-radius: 2px;
}

.filters input[type="submit"]:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}

.static-text,
.search-result-number {
	font-weight: bold;
	color: #000000;
}

.sort-item {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 18px;
}

.sort-item {
	background-color: #ffffff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: dotted 1px #81b3d2;
	text-decoration: none;
	color: #b2b2b2;
}

.sort-item:hover {
	color: #81b3d2;
}

.sort-item:active {
	border-bottom: none;
	color: #000000;
}

/* Список отелей */

.search-result-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-page,
.booking-form {
	color: #ffffff;
	font-weight: bold; 
}

.subtitle a {
	color: #000000;
}

.subtitle a:hover {
	color: #81b3d2;
}

.subtitle a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-page {
	background-color: #81b3d2;
}

.hotel-page:hover {
	background-color: #669ec0;
}

.hotel-page:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.booking-form {
	background-color: #766357;
}

.booking-form:hover {
	background-color: #604e43;
}

.booking-form:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	background-color: #f2f2f2;
	color: #666666;
}

/* Футер */
/* Социальные кнопки */

.social {
	display: inline-block;
	width: 44px;
	height: 46px;
	background-color: #81b3d2;
	font-size: 0px;
	border: solid 1px #81b3d2;
  text-align: center;
	vertical-align: middle;
}

.tw-icon {
	margin-top: 16px;
}

.fb-icon {
	margin-top: 13px;
}

.yt-icon {
	margin-top: 16px;
}

.social:hover {
	background-color: #669ec0;
}

.social:active {
	background-color: #5496bd;
}

.social:active img {
	opacity: 0.3;
}